@using BlazorRoseNoirApp.Shared;

<a href="@($"product/{product.ProductId}")">

	<div class="card" style="width:20rem;">
	
		<img class="card-img-top"
			 src="/images/@product.MainImageUrl"
			 alt="@product.Name" />

		<div class="card-body">
			<h6 class="p-2 m-2 bg-primary text-white card-title">
			@if (product.Category == Categories.Candles)
			{
				<i class="fa-solid fa-menorah p-2" title="Candles"></i>
			}
			else if (product.Category == Categories.NaturalSoaps)
			{
				<i class="fa-solid fa-soap p-2" title="Soaps"></i>
			}
			else if (product.Category == Categories.ReedDiffusers)
			{
				<i class="fa-solid fa-lines-leaning p-2" title="Reed Diffusers"></i>
			}
			else if (product.Category == Categories.BathShowers)
			{
				<i class="fa-solid fa-bomb p-2" title="Bath Bombs"></i>
			}
			@product.Name
		</h6>
			<p class="card-text text-center">
				A short summary of the product.
			</p>
		</div>

	</div>
</a>

@code 
{
	[Parameter]
	public Product product { get; set; }
}
