@page "/ProductView/{id:int?}"

@using BlazorRoseNoirApp.Shared;
@inject HttpClient http;
@using Microsoft.AspNetCore.Authorization;

<PageTitle>Product</PageTitle>

@if(product != null)
{
	<h3>Product: @id @product.Name</h3>
}
else
{
	<h3>Product @id NOT FOUND!!</h3>
}

@code 
{
	public Product product { get; set; } = null;

	[Parameter]
	public int? id { get; set; }

	[AllowAnonymous]
	protected override async Task OnInitializedAsync()
	{
		 if (id == null) id = 1;

		var result = await http.GetFromJsonAsync<Product>("api/Products/{@id} ");
		if (result != null) product = result;
	}
}
