@page "/ProductList/{category:int?}"
@inject HttpClient http;

@using BlazorRoseNoirApp.Shared;
@using Microsoft.AspNetCore.Authorization;

<h1>La Rose Noir Product List</h1>

<div class="row">

	@foreach(var product in Products)
	{
		if((category == 0) || (category == (int)product.Category))
		{
			<div class="col-lg-4 mb-2">

				<ProductCard product="product"></ProductCard>

				@if (product.Variations != null)
				{
					<div class="text-center">
						@foreach (Variation option in @product.Variations)
						{
							<p class="m-2">@option.Name</p>

							<a class="btn-success btn rounded-1 p-2 m-2">Buy</a>
							<NavLink href="@($"product/{product.ProductId}")" class="btn btn-primary p-2 m-2">
								View Details
							</NavLink>

							<span class="text-primary mt-3 float-lg-end">£@option.Price (@option.AvailableStock in stock)</span>
						}
					</div>
				}
			</div>
		}
	}

</div>

@code 
{
	[Parameter]
	public int? category { get; set; } = null;

	// Old ProductService.GetAllProducts();
	private List<Product> Products = new List<Product>();

	protected override async Task OnInitializedAsync()
	{
		if((category == 0) || (category == null))
		{
			var result = await http.GetFromJsonAsync<List<Product>>("api/Products");
			if (result != null) Products = result;
		}
		else
		{
			var result = await http.GetFromJsonAsync<List<Product>>("api/Products");

			if (result != null) 
			{
				Products = result;
			}
		}
	}

	protected override void OnParametersSet()
	{
	}
}