@page "/"
@using BlazorRoseNoirApp.Client.Pages.Products

<h1>La Rose Noir Website</h1>
<p>
    Add a carousel of images here!
    Please select your product category!
</p>
@*<ProductList></ProductList>*@
