<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Rose Noir App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ProductList" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> All Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Category">
                <i class="fa-solid fa-menorah p-2" title="Candles"></i>
                Candles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Category">
                <i class="fa-solid fa-lines-leaning p-2" title="Reed Diffusers"></i>
                Reed Diffusers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Category">
                <i class="fa-solid fa-bomb p-2" title="Bath Bombs"></i>
                Bath &amp; Shower
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProductList">
                <i class="fa-solid fa-soap p-2" title="Natural Soaps"></i>
                Natural Soaps
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
